

<div class="center">
    <!-- <div class="mycontainer"> -->
    <div class="row" style="margin-top: 100px;">

        <div class="col-md-4">
            <mat-card class="text-center">
                <mat-card-header class="heading" style="display: block;">
                <mat-icon>file_copy</mat-icon>
                </mat-card-header>
                <hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
                    gray;">
                <mat-card-content   class="footer" routerLink="/document" style="color: cornflowerblue;" >
                    DOCUMENTATION
                </mat-card-content>
              
                
            </mat-card>

        </div>
        <div class="col-md-4">

            <mat-card  class="text-center">
                <mat-card-header class="heading" style="display: block;">
                  <mat-icon>chat</mat-icon>
                </mat-card-header>
                <hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
                    gray;">
                <mat-card-content  class="footer" style="color: cornflowerblue;" >
                    LIVE CHAT
                </mat-card-content>
               
                
            </mat-card>
        </div>
    </div>
</div>