#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #logoName {
    color: white;
  }
  
  #logoName::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 15px;
    height: 6px;
    background-color: var(--accent);
  }
  