<!-- <div>
    <button 
    mat-stroked-button routerLink="/add-assign" style="margin-bottom: 30px">Assign device</button>
  </div> -->
  <div>
  <mat-form-field style="float: right;width:auto" class="border-success">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Mia">
  </mat-form-field>
  
  <div  _ngcontent-etd-c17 class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="deviceId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px;"> Device Id </th>
        <td mat-cell *matCellDef="let row"> {{row.deviceId}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="assignedToAdmin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 15px;">Assigned To Admin </th>
        <td mat-cell *matCellDef="let row"> {{row.assignedToAdmin}} </td>
      </ng-container>
  
      <!-- Name Column -->
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
<div class="float">
  <mat-icon routerLink="/add-assign"
          matTooltip="Add Assign"
          aria-label="Button that displays a tooltip when focused or hovered over">
    add
  </mat-icon>
  </div>
