<section id="sidebar" style="height: 600px;">
    <div class="links">
        <a href="#" class="link active"><span><i class="fa fa-home" aria-hidden="true"></i></span>Home</a>
        <a href="#" class="link"><span><i class="fa fa-tachometer" aria-hidden="true" routerLink="/dashboard"></i></span>Dashboard</a>
        <a href="#" class="link"><span><i class="fa fa-tablet" aria-hidden="true"></i></span>Devices</a>
        <a href="#" class="link"><span><i class="fa fa-sitemap" aria-hidden="true"></i></span>Organisation Unit</a>
        <a href="#" class="link"><span><i class="fa fa-users" aria-hidden="true"></i></span>Users</a>
        <a href="#" class="link"><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>Assign
            Device</a>
    </div>
</section>
