<div id="wrapper">
  <div class="container">
    <section id="top">
      WORK IN PROGRESS
    </section>

    <div class="row">
      <div class="col-md-3">
        <nav class="docs-sidebar affix-top" id="mynavy" data-spy="affix" data-offset-top="300" data-offset-bottom="200"
          role="navigation">
          <ul class="nav">
            <li>
              <a href="#chatbot">TYPES OF USERS</a>
              <ul>
                <li><a href="#chatbot_example3">Superadmin</a></li>
                <li><a href="#chatbot_example1">Admin</a></li>
                <li><a href="#chatbot_example2">SmartX Engineer </a></li>
                <li><a href="#chatbot_example4">Service Provider</a></li>
                <!-- <li><a href="#chatbot_example1">Patients</a></li> -->
               
              </ul>
            </li>
             <!-- <li>
              <a href="#usersform">Users Form</a>
              <ul>
                <li><a href="#usersform_fillform">Fill a Form</a></li>
                <li><a href="#usersform_manageform">Manage Form</a></li>
              </ul>
            </li> -->

          </ul> 
        </nav>
      </div>
      <div class="col-md-9">
        <section class="welcome">
          <div class="row">
            <div class="col-md-12 left-align">
              <h2 class="dark-text">
                REMOTECARE(work in progress)
                <hr>
              </h2>
              <div class="row">
                <div class="col-md-12 full">
                  <div class="intro1">
                    <ul>
                      <li><strong>Doc Version : </strong> v 1.0</li>
                      <li><strong>Author : </strong> <a href="https://google.com" target="_blank">SmartX</a></li>
                    </ul>
                  </div>
                  <hr>
                  <div>
                    <p>First of all, Thank you so much for purchasing this template and for being my loyal customer.
                      <strong>You are awesome!</strong>
                    </p>

                    <p>This documentation is to help you regarding each step of customization. Please go through the
                      documentation carefully to understand how this platform is behaving and how to use this properly.
                    </p>
                    <p>Let's Get Started</p>
                  </div>
                </div>
              </div>
              <!-- End intro inner row -->
            </div>
          </div>
        </section>
        <section id="chatbot" class="section">
          <div class="row">
            <div class="col-md-12">
              <h4>Remotecare</h4>
              <a href="#top">#goToTop</a>
              <p>
                Remotecare defintion...
              </p>
              <hr>
              <section id="chatbot_example3">
                <h5> Role of Superadmin</h5>
                <p class="imglist">
                  <a>
                    <li> Can create and view admin and smartxengineer</li>
                    <li>Create and view organization unit</li>
                    <li>Can assign a particular device to admin</li>
                    <li>View all the devices</li>
                    <h5>Steps for creating Admin and Smartxengineer</h5>
                    After logging in to the superadmin account have to navigate to users page where they can click add
                    users button to create a admin. On clicking that following fields have to be entered.
                    1. Email-Id: this field contains the email address of the admin or smartxengineer which we are
                    creating. This field is used as userid while login time and assigning the users to particular
                    device.
                    2. Password: this field is used while logging in and its hidden.
                    3. User name: this field contains the name of the user and it’s a required field.
                    4. Gender: this field is a dropdown which shows male female other
                    5. Age: this field is the age of the user and a required field.
                    6. Address: this field contains the Address of the user and a required field
                    7. User type: this field is a drop down which decides the type of the user.we can select admin or
                    smartxengineer from the dropdown.
                    8. If the usertype is admin another field will appear as extra role click that checkbox so that your
                    admin will function also as service provider.
                    After entering all the fields on clicking register button our registered user is saved and that can
                    be viewed in view page.
                   <a href="../../../../assets/img/docimg/user.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/user.PNG" width="700" /> </a>
                    <h5>Add Orgnization unit</h5>
                    Superadmin can add organizational unit other users can view. In this page there will be add
                    oranisation unit button on clicking that following fields can be seen.
                    1. Organization Id: it should contain the unique Id in string type and a required field.
                    2. Organization Name: It should contain the name of that Organization.
                    3. Service state: It should contain the state.
                    4. Address1: It should contain the address line1.
                    5. Address2: It should contain the address line2.
                    6. District: this field contains the district name
                    7. State: this field contains the state name
                    8. Pincode: this field contains the pincode of the place
                    9. Logo upload: here we can upload the logo of your organization in jpeg,png,jpg formats.
                    After entering all the fields on clicking register button our organisation unit is saved and that
                    can be viewed in view page.
                    <a href="../../../../assets/img/docimg/org.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/org.PNG" width="700" /> </a>
                    <h5>Assign Device</h5>
                    This page is accessible only to superadmin. Here he can assign a particular device to admin. If
                    logged in as superadmin in this page there will be add button on clicking that following fields can
                    be seen.
                    1. Device id: this field is a dropdown which shows device id of all the created devices. if a device
                    is already assigned to admin then it will not be shown in dropdown.
                    2. Admin: this field is a dropdown which shows user id of all the usres whose usertype is admin.
                    After entering all the fields on clicking register button our registered device and admin is saved
                    and that can be viewed in view page.
                    <a href="../../../../assets/img/docimg/assign.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/assign.PNG" width="700" /> </a>
                  </a>
                </p>
              </section>
              <hr>
              <hr>
              <section id="chatbot_example1">
                <h5> Role of Admin</h5>
                <p class="imglist">
                  <a>
                    <li> Can create and view Service Provider</li>
                    <li>Can allocate a device to service provider </li>

                    <h5>Steps for creating service provider</h5>
                    ● The user have to login to the account using the credentials gave by developers.
                    ● After logging in the user should navigate to the service provider registration page.
                    In this page there will be add button on clicking that enter the following fields in order to create
                    a service provider.
                    1. email: this field contains the mail of the serviceprovider. This field is used as userid while
                    login time and can it is viewed as userid in view page also.
                    2. Password: this field is used while logging in and its hidden.
                    3. User name: this field contains the name of the user and it’s a required field.
                    4. Gender: this field is a dropdown which shows male female other
                    5. Age: this field is the age of the user and a required field.
                    6. Address: this field contains the Address of the user and a required field
                    After entering all the fields on clicking register button our registered user is saved and that can
                    be viewed in view page.
                    <a href="../../../../assets/img/docimg/spregister.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/spregister.PNG" width="700" /> </a>

                    <h5>Allocate Device to Service Provider</h5>
                    This page is accessible to admin where the admin can map device with service provider .In this page
                    there will be add button on clicking that following fields can be seen.
                    1. Device id: this field is a dropdown which shows the device id of the devices which is assigned to
                    that particular admin.
                    2. Service provider: this field is a dropdown which shows the user id whose usertypes are service
                    provider. the admin can select the service provider accordingly.
                    After entering all the fields on clicking register button our registered mapping is saved and that
                    can be viewed in view page.
                    <a href="../../../../assets/img/docimg/allocation.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/allocation.PNG" width="700" /> </a>
                  </a>
                </p>
              </section>
              <hr>
              <section id="chatbot_example2">
                <h5>SmartX Engineer</h5>
                <p class="imglist">
                  <a>
                    <h5>Role of SmartX Engineer</h5>
                    <li>Can create and view Device</li>
                    <h5>Steps for creating Device</h5>
                    After logging in with the smartxengineer credentials the user have to navigate to devices page.
                    There we have to click add device button and should enter the following fields.
                    1. Deviceid: The device id must be exactly 12 digits in string and it’s a required field.
                    2. Devicetype: This field contains a dropdown with two options wearable and handheld.this can be
                    selected based on the device type. It’s a required field
                    3. Device manufacturer: This field contain the device manufacturer name in string type and it’s a
                    required field.
                    4. Imei: This field contains the imei number of the device and a required field.
                    5. Device test engineer:This field contains the name of the person who tested the device and a
                    required field.
                    6. Date of release: This field contains the date on which the device is released in DD/MM/YYYY
                    format.
                    7. Sim number: This field contains the sim number of the device and it’s a required field.
                    After entering all the fields on clicking register button our device is saved and that device can be
                    viewed in view page.

                    <a href="../../../../assets/img/docimg/device.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/device.PNG" width="700" /> </a>
                   
                  </a>
                </p>
              </section>
              <hr>
              <section id="chatbot_example4">
                <h5>Service Provider</h5>
                <p class="imglist">
                  <a>
                    <h5>can create patient in mobile application</h5>
                  
                    <!-- href="../../../../assets/img/docimg/chatbot_example2_result_circuit.PNG" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/chatbot_example2_result_circuit.PNG" width="700" /> -->
                  </a>
                </p>
              </section>
              <!-- <hr>
              <section id="sub1-3">
                <h5>Sub-section-1</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum natus qui modi error
                  alias sed odio ducimus pariatur accusamus molestias!</p>
              </section>
            </div>
          </div>
        </section>
       
        <section id="usersform" class="section">
          <div class="row">
            <div class="col-md-12">
              <h4>Users Form</h4>
              <a href="#top">#goToTop</a>
              <p>This Module is the manage general data entry form where user can do the CRUD
                operation(create,read,update and delete) of a form
                based on the project and form assigned to the user</p>
              <hr>
              <section id="usersform_fillform">
                <h5>Fill a Form</h5>
                <p>Here user can select any project and form name assigned to the user and fill the form</p>
                <p class="imglist">
                  <a href="../../../../assets/img/docimg/FillAForm.png" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/FillAForm.png" width="700" />
                  </a>
                </p>
              </section>
              <section id="usersform_manageform">
                <h5>Manage Form</h5>
                <p>Here user can select any project and form name assigned to the user and View all the filled form
                  .you can delete or edit the form by clicking the corresponding button
                </p>
                <p class="imglist">
                  <a href="../../../../assets/img/docimg/manageform.png" data-fancybox
                    data-caption="&lt;b&gt;Single photo&lt;/b&gt;&lt;br /&gt;Caption can contain &lt;em&gt;any&lt;/em&gt; HTML elements">
                    <img src="../../../../assets/img/docimg/manageform.png" width="700" />
                  </a>
                </p>
              </section>
            </div>
          </div>
        </section>

      </div>
    </div> -->
            </div>
            <!-- end container -->
          </div>
          <!-- end Wrapper -->