<header id="topbar" style="height: 40px;">
    <div class="items">
        <div class="item has-dropdown">
            <a href="javascript:void(0)">
                <span class=" iconify" data-icon="mdi:theme-light-dark" data-inline="false"></span>
            </a>
            <ul class="dropdown">
                <li class="dropdown-item">
                    <a href="" id="light">light</a>
                </li>
                <li class="dropdown-item">
                    <a href="" id="dark">dark</a>
                </li>
                <li class="dropdown-item">
                    <a href="" id="solar">solarize</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <span class="iconify" data-inline="false" data-icon="carbon:user"></span>
            <span class="iconify" data-inline="false" data-icon="carbon:caret-down"></span>
        </div>
        <div class="item">
            <span class="iconify" data-icon="mdi-light:logout" data-inline="false" onclick="logout()" ></span>
        </div>
    </div>
</header>