<div class="center" style="margin-top: 50px;">
    <div class="row">

        <div class="col-md-3 griddiv">
            <mat-card class="text-center" style="margin-left: 120px;height: 640px;width: 500px;">
                <mat-card-header class="heading" style="display: block;color: cornflowerblue;">
                 MY PROFILE
                </mat-card-header>
                <hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
                        gray;">
                <mat-card-content class="footer">
                    <li style="display: flex;">User Name</li>
                    <li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('userName')}}</li>
                    <hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
                    gray;">

<li style="display: flex;">User Type</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('userType')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">
<li style="display: flex;">Age</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('age')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">
<li style="display: flex;">Gender</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('gender')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">
<li style="display: flex;">Address</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('address')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">
<li style="display: flex;">Email Id</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('emailId')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">
<li style="display: flex;">Mobile Number</li>
<li style="display: flex;color: cornflowerblue;">{{service.getUserInfo('mobileNumber')}}</li>
<hr style="width:10;height:0.1px;background-color: gray;border-top-color: 
gray;">



                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>